################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-end/Map API/.vs/map/FileContentIndex/67b8eda6-b917-48a7-ad35-6d6272961958.vsidx
