<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureMapsKey" value="950f2huHZuEGzVDve6jpkJnBKMMGTLli4whytxYUPJaFb6zIrs18JQQJ99ALAC5RqLJURmtpAAAgAZMPPoJs" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>